/* GENERAL */
.view{
    width: 897px;
    display: inline;
    margin: 0 auto;
    padding: 0 auto;
    max-width: 900px;
    box-sizing: center;
}

body {
    display: flex;
    margin: 0 auto;
    font-size: 12px;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url("/BitMovil/src/Assets/Fondo/Fondo-1.png") center/cover no-repeat fixed;
    
}

.container {
    width: 100%;
    display: flex;
    padding: 20px;
    max-width: 1200px;
    min-height: 100vh;
    margin: 2rem auto;
    background: #ffffff;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

main {
    width: 100%;
    margin-top: 40px;
}

img {
    height: auto;
    display: block;
    max-width: 100%;
    margin: 0.5 rem auto;
    border-radius: 8px;
}

footer {
    color: #ffffff;
    padding: 1rem;
    margin-top: 2rem;
    background: #222222;
    text-align: center;
    border-radius: 0 0 8px 8px;
}

.space + .space {
    margin-top: 10%;
}