/* CONTENEDOR PRINCIPAL */
.conteiner {
	background-color: transparent;
	padding: 10px 0;
}

/* CONTENEDOR FLEXIBLE MENU */
.navbar {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* --- TU NAV ORIGINAL --- */
nav {
	padding: 1px;
	width: 80%;
	height: 55px;
	font-size: 15px;
	position: relative;
	border-radius: 10px;
	margin: 30px auto 0;
	background-color: transparent;
	box-shadow: 0 5px 8px  rgb(225, 1, 255);
}

nav a {
	z-index: 1;
	height: 100%;
	font-size: 15px;
	cursor: pointer;
	line-height: 50px;
	position: relative;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}

nav .animation {
	top: 0;
	z-index: 0;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transition: all .5s ease 0s;
}

/* DISTANCIA EN LOS ENLACES/LETRAS */
a:nth-child(1) {
	width: 140px;
}

a:nth-child(2) {
	width: 140px;
}

a:nth-child(3) {
	width: 140px;
}

a:nth-child(4) {
	width: 140px;
}

a:nth-child(5) {
	width: 140px;
}

/* Animación de fondo al pasar */
nav .start-Home,
a:nth-child(1):hover~.animation {
	left: 0;
	width: 135px;
	background-color: #ffffff42;
}

nav .start-Games,
a:nth-child(2):hover~.animation {
	left: 140px;
	width: 150px;
	background-color: #ffffff42;
}

nav .start-Proyect,
a:nth-child(3):hover~.animation {
	width: 144px;
	left: 289px;
	background-color: #ffffff42;
}

nav .start-Software,
a:nth-child(4):hover~.animation {
	left: 435px;
	width: 140px;
	background-color: #ffffff42;
}

nav .start-Info,
a:nth-child(5):hover~.animation {
	width: 143px;
	left: 578px;
	background-color: #ffffff42;
}