nav {
	/* SOMBRA OPCIONAL */
	padding: 1px;
	width: 730px;
	height: 50px;
	font-size: 10px;
	position: relative;
	border-radius: 10px;
	margin: 27px auto 0;
	background-color: transparent;
	box-shadow: 0 2px 5px rgb(234, 1, 255);
}

nav a {
	z-index: 1;
	height: 100%;
	font-size: 15px;
	cursor: pointer;
	line-height: 50px;
	position: relative;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}

nav .animation {
	top: 0;
	z-index: 0;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transition: all .5s ease 0s;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 110px;
}

a:nth-child(3) {
	width: 100px;
}

a:nth-child(4) {
	width: 160px;
}

a:nth-child(5) {
	width: 120px;
}

a:nth-child(6) {
	width: 120px;
}

nav .start-Home,
a:nth-child(1):hover~.animation {
	left: 0;
	width: 100px;
	background-color: #ffffff53;
}

nav .start-Games,
a:nth-child(2):hover~.animation {
	left: 110px;
	width: 100px;
	background-color: #ffffff53;
}

nav .start-Proyect,
a:nth-child(3):hover~.animation {
	width: 100px;
	left: 220px;
	background-color: #ffffff53;
}

nav .start-Software,
a:nth-child(4):hover~.animation {
	left: 323px;
	width: 155px;
	background-color: #ffffff53;
}

nav .start-Info,
a:nth-child(5):hover~.animation {
	width: 105px;
	left: 492px;
	background-color: #ffffff53;
}

a:nth-child(6):hover~.animation {
	width: 120px;
	left: 611px;
	background-color: #ffffff53;
}

.btn-animado {
	color: #ffffff;
	display: center;
	padding: 5px 50px;
	border-radius: 10px;
	text-decoration: none;
	transition: all 0.10s ease;
	background-color: transparent;
}

.btn-animado:hover {
	transform: scale(3);
	background-color: #8129f45f;
	box-shadow: 0 5px 5px #8022f9a9;
}

/* CONTENEDOR DEL ITEM CON SUBMENU */
.menu-item {
	position: relative;
	display: inline-block;
	height: 50px;
}

.menu-item > a {
	width: 110px;
}

/* MEGA MENU */
.mega-menu {
	left: 0;
	top: 100%;
	z-index: 999;
	padding: 15px;
	display: none;
	min-width: 350px;
	position: absolute;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.6);
	animation: fadeIn 0.4s ease;
	box-shadow: 0 2px 5px rgb(234, 1, 255);
}

/* MOSTRAR HOVER */
.menu-item:hover .mega-menu {
	display: flex;
}

/* COLUMNAS */
.mega-menu .column {
	display: flex;
	min-width: 150px;
	margin-right: 20px;
	flex-direction: column;
}

.mega-menu h4 {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 8px;
	text-transform: uppercase;
}

/* LINKS INTERNOS */
.mega-menu a {
	padding: 0;
	font-size: 13px;
	text-align: left;
	color: #ffffff71;
	line-height: 28px;
	text-decoration: none;
}

.mega-menu a:hover {
	color: #ffffff;
	background: none;
}

/* ANIMACIÓN */
@keyframes fadeIn {
	from { opacity: 0; transform: translateY(10px); }
	to { opacity: 1; transform: translateY(0); }
}


/* TEXTO ANIMADO */
/*ANIMACION DE DESPLAZAMIENTO */
.contenedor-animado {
    width: flex;
    display: flex;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 3, 68, 0.531);
}

/* TEXTO EN MOVIMIENTO ANIMADO*/
.texto-animado {
    width: 100%;
    display: flex;
    font-size: 16px;
    overflow: hidden;
    color: #00fff2;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    justify-content: center;
    background-color: transparent;
    animation: deslizar 20s linear infinite;
}

@keyframes deslizar {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* TEXTO NORMAL */
.text-normal {
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
