/* CONTENEDOR PRINCIPAL */
.conteiner {
	background-color: transparent;
	padding: 10px 0;
}

/* CONTENEDOR FLEXIBLE MENU */
.navbar {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* --- TU NAV ORIGINAL --- */
nav {
	padding: 1px;
	width: 80%;
	height: 55px;
	font-size: 15px;
	position: relative;
	border-radius: 10px;
	margin: 30px auto 0;
	background-color: transparent;
	box-shadow: 0 5px 8px  rgb(225, 1, 255);
}

nav a {
	z-index: 1;
	height: 100%;
	font-size: 15px;
	cursor: pointer;
	line-height: 50px;
	position: relative;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}

nav .animation {
	top: 0;
	z-index: 0;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transition: all .5s ease 0s;
}

/* DISTANCIA EN LOS ENLACES/LETRAS */
a:nth-child(1) {
	width: 140px;
}

a:nth-child(2) {
	width: 140px;
}

a:nth-child(3) {
	width: 140px;
}

a:nth-child(4) {
	width: 140px;
}

a:nth-child(5) {
	width: 140px;
}

/* Animación de fondo al pasar */
nav .start-Home,
a:nth-child(1):hover~.animation {
	height: 0px;
	width: 135px;
	background-color: #ffffff42;
}

nav .start-Games,
a:nth-child(2):hover~.animation {
	width: 150px;
	height: 140px;
	background-color: #ffffff42;
}

nav .start-Proyect,
a:nth-child(3):hover~.animation {
	width: 144px;
	height: 289px;
	background-color: #ffffff42;
}

nav .start-Software,
a:nth-child(4):hover~.animation {
	width: 140px;
	height: 435px;
	background-color: #ffffff42;
}

nav .start-Info,
a:nth-child(5):hover~.animation {
	width: 143px;
	height: 578px;
	background-color: #ffffff42;
}

/* BOTON HAMBURGUESA */
.menu-toggle {
    top: 15px;
    z-index: 10;
    right: 25px;
    height: 40px;
    border: none;
    width: 0 auto;
    display: none;
    cursor: pointer;
    background: none;
    position: absolute;
}

.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
    width: 30px;
    height: 4px;
    display: block;
    transition: 0.3s;
    border-radius: 2px;
    position: absolute;
    background: #ffffff;
}

.menu-toggle span {
    top: 18px;
    height: 5px;
    position: center;
}

.menu-toggle span:before {
    top: -10px;
    height: 0px;
    content: '';
    width: 30px;
    height: 4px;
    position: absolute;
    background: #ffffff;
    border-radius: 2px;
}

.menu-toggle span:after {
	top: 10px;
    height: 4px;
    width: 30px;
    content: '';
    position: absolute;
    border-radius: 2px;
    background: #ffffff;
}

@media (max-width: 600px) {
    .menu-toggle {
        display: block;
    }
    nav {
		z-index: 100;
		width: 100vw;
        height: 40vh;
        display: none;
        display: flex;
        position: center;
        box-shadow: none;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: transparent;
    }
    nav.active {
        display: flex;
    }
    .navbar {
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    nav a {
		width: 80%;
        display: block;
        font-size: 20px;
        line-height: 35px;
        margin: 10px auto;
        text-align: center;
    }
}