.productos {
    gap: 20px;
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    overflow: hidden;
    border-radius: 10px;
    background: #9898987e;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgb(175, 37, 255);
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 130px;
    object-fit: contain;
}

.card-content {
    padding: 15px;
}

.card h3 {
    margin: 0 0 10px 0;
}

.price {
    font-size: 15px;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 5px;
}

button {
    width: 60%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #7f1eaf;
}

.h3{
    color: #fff;
}