.modal-login {
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  height: 100%;
  z-index: 10001;
  display: none;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 350px;
  margin: 10% auto;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
