/*ANIMACION DE DESPLAZAMIENTO */
.contenedor-animado {
    width: flex;
    display: flex;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 3, 68, 0.531);
}

/* TEXTO EN MOVIMIENTO ANIMADO*/
.texto-animado {
    width: 100%;
    display: flex;
    font-size: 16px;
    overflow: hidden;
    color: #00fff2;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    justify-content: center;
    background-color: transparent;
    animation: deslizar 20s linear infinite;
}

@keyframes deslizar {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* TEXTO NORMAL */
.text-normal {
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
