/*TEXTO CONTENEDORES*/
.textoflooter {
	color: #ffffff;
	box-align: center;
}

/* 3 CONTENEDORES */
.container-tres {
  gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.tres-container {
  width: 265px;
  padding: 1.5rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(255, 0, 255, 0.627);
}

.tres-container:hover {
  transform: translateY(-5px);
}

.tres-container h2 {
  margin-top: 0;
  font-size: 1.4rem;
  color: #ffffff;
}

.tres-container p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #dcdcdc;
}

.tres-container span {
  font-size: 0.9rem;
  color: #bbb;
}

.img-proyect {
  max-width: 100%;
  border-radius: 10px;
  margin: 0.5rem 0;
}

/* 3 CONTENEDOR DE IMAGENES  */
.imagenes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-imagen {
  width: 29%;
  height: auto;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
}

.container-imagen img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.container-imagen:hover img {
  transform: scale(1.0);
}

/* MODAL VER IMG */
.modal {
  top: 50%;
  left: 50%;
  display: fixed;
  padding: 25px;
  position: fixed;           
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal img {
  max-width: 60%; 
  max-height: 80%;
  object-fit: contain; 
  border-radius: 10px;
}

.cerrar {
  top: 20px;
  right: 35px;
  color: white;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
}

/* CONTENEDOR LETRAS INFERIOR*/  
  .contenedor-transparente {
    width: 80%;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    border-radius: 15px;
	  background: transparent;
	  box-shadow: 0 4px 8px rgb(225, 1, 255);
  }