/*TEXTO CONTENEDORES*/
.textoflooter {
  color: #ffffff;
  box-align: center;
}

/* 3 CONTENEDORES */
.view-container {
  gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.tres-container {
  width: 160px;
  padding: 2.5rem;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgb(255, 0, 255);
}

.tres-container:hover {
  transform: translateY(-5px);
}

.tres-container h2 {
  margin-top: 0;
  font-size: 25px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.tres-container typeTitle {
  font-size: 18px;
  color: #dcdcdc;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img-proyect {
  max-width: 100%;
  margin: 0.5rem 0;
  border-radius: 10px;
}

.lista-check {
  padding-left:0;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  list-style: none;
  color: #ffffff;
  margin: 0 0 20px 0;
  letter-spacing: 0.5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 3 CONTENEDOR DE IMAGENES  */
.imagenes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-imagen {
  width: 48%;
  height: auto;
  padding: 1px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  border-radius: 1px;
}

.container-imagen img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.container-imagen:hover img {
  transform: scale(1.0);
}

/* MODAL VER IMG */
.modal {
  top: 50%;
  left: 50%;
  display: fixed;
  padding: 25px;
  position: fixed;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal img {
  max-width: 60%;
  max-height: 80%;
  object-fit: contain;
  border-radius: 10px;
}

.cerrar {
  top: 20px;
  right: 35px;
  color: white;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
}

.btn-animado {
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  box-align: center;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
  background-size: 100% 100%;
  transition: background-position 0.5s;
  animation: gradientAnimation 5s ease infinite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff);
}

/* CONTENEDOR LETRAS INFERIOR*/
.contenedor-transparente {
  width: 80%;
  padding: 20px;
  font-size: 12px;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  border-radius: 15px;
  background: transparent;
  box-shadow: 0 4px 8px rgb(225, 1, 255);
}

.contenedor-color{
  width: 100%;
  padding: 20px;
  font-size: 12px;
  max-width: 95%;
  margin: 50px auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
}