nav {
    padding: 1px;
	background-color: transparent;
	 /* SOMBRA OPCIONAL */
	 width: 590px;
	 height: 50px;
	 font-size: 0;
	 border-radius: 8px;
	 position: relative;
	 margin: 27px auto 0;
	 background-image: #ffffff;
	 box-shadow: 0 2px 5px rgb(0, 0, 0);
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}

a:nth-child(6) {
	width: 120px;
}

nav .start-Home, a:nth-child(1):hover~.animation {
	width: 83px;
	left: 0;
	background-color: #ff00ff;
}
nav .start-Games, a:nth-child(2):hover~.animation {
	width: 86px;
	left: 85px;
	background-color: #9900ff;
}
nav .start-Proyect, a:nth-child(3):hover~.animation {
	width: 103px;
	left: 165px;
	background-color: #4642fc;
}
nav .start-Software, a:nth-child(4):hover~.animation {
	width: 132px;
	left: 260px;
	background-color: #ff00ff;
}
nav .start-Info, a:nth-child(5):hover~.animation {
	width: 90px;
	left: 395px;
	background-color: #9900ff;
}

nav .start-Info, a:nth-child(6):hover~.animation {
	width: 100px;
	left: 493px;
	background-color: #4642fc;
}